/* Reset Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: #fbf2c0;
  overflow: hidden;
}

header {
  text-align: center;
  background-color: #48392a;
  color: #fff;
  padding: 1rem;
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 3rem;
  margin: 0;
}

main {
  min-height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#button-container {
    position: fixed;
    top: 120px; /* Adjust this value based on your header height */
    left: 0;
    right: 0;
    height: 100px;
    background-color: #404E4D;
    text-align: center;
    clip-path: polygon(0 80%, 50% 90%, 100% 80%, 100% 0%, 0 0%);
    z-index: 999; /* Make sure the search bar is on top of other elements */
}

#random-btn {
  font-size: 1.2rem;
  background-color: #f96f5d;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#generate-btn:hover {
  background-color: #c06e52;
}

#search-btn {
  font-size: 1.2rem;
  background-color: #f96f5d;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  margin-bottom: 0;
  margin-left: -7.8rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#search-input {
  font-size: 1.2rem;
  padding: 1rem 2rem 1rem 1rem;
  border: none;
  border-radius: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 320px;
}

#search-input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}

#cocktail-container {
  text-align: center;
}

footer {
  background-color: #43281C;
  color: white;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  clip-path: polygon(0 30%, 50% 10%, 100% 30%, 100% 100%, 0 100%);
}

p {
  margin: 0;
}

.instructions-container {
  display: flex;
  justify-content: space-between;
}

.instructions-container > div {
  flex-basis: 45%;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  
  main {
    flex-direction: row;
  }
  
  #random-btn {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  #search-btn {
    margin-right: 2rem;
    margin-bottom: 0;
  }
  
  #cocktail-container {
    text-align: left;

  }
}
